@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.container {

}

.information-column {
    padding: 40px;
    background-color: black;
    color: white;
    text-align: center;
}

.information-column hr {
    border: none;
    border-bottom: 1px solid rgb(12, 255, 12);
    margin-top: 18px;
}

.information-column img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 1px solid rgb(12, 255, 12);
    margin-bottom: 18px;
}

.information-column h3 {
    text-align: left;
    margin-top: 20px;
}

.information-column ul {
    list-style: none;
}

.information-column li {
text-align: left;
margin: 10px 0;
}

.contat-description a {
    text-decoration: none;
    color: white;
}

.contat-description i {
    color: rgb(12, 255, 12);
    margin-right: 10px;
}

.training-description {
    margin-top: 32px;
}

.training-description h4 {
    text-align: left;
    margin-top: 20px;
}

.training-description h5 {
    text-align: left;
    margin-top: 10px;
    color: rgb(12, 255, 12);

}

.training-description p {
    font-style: oblique;
    font-size: 16px;
}

.language-description .percent {
    height: 6px;
    background-color: green;
    margin-top: 5px;
    width: 205px;
}

.language-description .percent div {
    height: 6px;
    background-color: rgb(12, 255, 12);
}

.language-description .percent.english div {
    width: 5%;
    background-color: rgb(12, 255, 12);
}

.experiences-column {
    padding: 40px;
    background-color: white;
    color: black;
}

.experiences-column section {
    margin-bottom: 30px;
}

.experiences-column h2 {
    margin-bottom: 15px;
}

.experiences-column .experiences {
    margin-bottom: 14px;
}

.experiences-column a {
    text-decoration: none;
    text-decoration: underline;
    color: black;
}

.experiences-column .last-date {
    text-align: right;
}

@media (min-width: 992px) {
    .container {
        display: flex;
    }

    .information-column img {
        width: 200px;
        height: 200px;
    }

    .experiences-column .experiences {
        display: flex;
    }

    .experience-date {
        width: 300px;
    }
}